facenet~=1.0.5
filterpy~=1.4.5
keras~=3.11.3
lap~=0.5.12
matplotlib~=3.10.6
mediapipe~=0.10.21
motmetrics~=1.4.0
mtcnn~=1.0.0
numpy~=2.3.3
opencv_python~=4.12.0.88
pandas~=2.3.2
PyQt6~=6.9.1
pyqt6_sip~=13.10.2
PyYAML~=6.0.2
PyYAML~=6.0.2
scikit_learn~=1.7.2
scipy~=1.16.2
seaborn~=0.13.2
six~=1.17.0
skimage~=0.0
tensorflow~=2.20.0
torch~=2.8.0
torchvision~=0.23.0
ultralytics~=8.3.202
YOLO~=0.3.2
